* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
  border: 20px solid yellow;
  height: 100vh;
  position: relative;
}
.player {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: red;
}
.fruit {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: limegreen;
}
.score {
  color: white ;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.snake-cell {
  width: 50px;
  height: 50px;
  background-color: red;
  position: absolute;
}