{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="sol">
            <h1>LOGO</h1>
        </div>
        <div class="orta">
            <ul>
                <li>Home</li>
                <li>Products</li>
                <li>Contact Us</li>
                <li>About Us</li>
                <li><input type="text" placeholder="Search"></li>
            </ul>
        </div>
        <div class="sag">
            <ul>
                <li>Login</li>
                <li>Sign-Up</li>
            </ul>
        </div>
    </nav>
    <header>
        <div class="ic">
            <h1>DÜNYANIN EN İYİ WEB SİTESİ</h1>
        </div>
    </header>
    {% for i in Asd %}
    <div class="box">
        <h3>
            {{i.title}}
        </h3>
        <p>
            {{i.text}} 
        </p>
    </div>
    {% endfor %}
</body>
</html>